MYSQL_DATABASE=zhuatech_syntheticdata
MYSQL_USER=zhuatech
MYSQL_PASSWORD=replace_for_local_use
MYSQL_ROOT_PASSWORD=replace_for_local_use
APP_ADMIN_PASSWORD=replace_for_local_use
APP_AUDITOR_PASSWORD=replace_for_local_use
WEB_PORT=8095
